# dependencies
node_modules

# local build output (rebuilt in image)
.nuxt
.output

# vcs / tooling
.git
.gitignore
.idea

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
